*{
    background-color: deepskyblue;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(21, 0, 255);
    background-color: aqua;
}

fieldset{
    background-color:deepskyblue
}

input{
    background-color: white;
}

button{
    background-color: aqua;
    
}

textarea{
    background-color: white;
}

option, select{
    background-color: white;
}